token.txt
tokentst.txt
hippocrates.txt
hippocratestwo.txt
src/main/java/bot/alexander/apis/apiconfig.java
src/main/java/bot/alexander/Commands/CommandConfig.java
src/main/java/bot/alexander/Commands/HippocratesCommands.java
.json
squarecloud.app
test.json
bot.jar
alexander.jar